<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Price Alerts | EconoTrack</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<nav class="navbar-custom">

    <div class="container d-flex justify-content-between align-items-center">

        <a href="/" class="brand">
            📈 ECONOTRACK
        </a>

        <div>
            <a href="/" class="nav-btn">Home</a>
            <a href="/dashboard" class="nav-btn">Dashboard</a>
            <a href="/news" class="nav-btn">News</a>
            <a href="/logout" class="nav-btn">Logout</a>
        </div>

    </div>

</nav>

<section class="hero">

    <h1>
        🔔 Price Alerts
    </h1>

    <p>
        Create simple alerts for oil and gold price movements based on your target price.
    </p>

</section>

<div class="container mt-5">

   <div class="hub-card mb-4">

        <form method="POST">

            <div class="mb-3">
                <label class="form-label">Commodity</label>
                <select name="commodity" class="form-select" required>
                    <option value="Oil">Oil</option>
                    <option value="Gold">Gold</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Condition</label>
                <select name="condition" class="form-select" required>
                    <option value="Above">Above</option>
                    <option value="Below">Below</option>
                </select>
            </div>

            <div class="mb-3">
                <label class="form-label">Target Price</label>
                <input type="number" step="0.01" name="target_price" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success">
                Add Alert
            </button>

        </form>

    </div>

    <h3 class="fw-bold mb-3">
        My Alerts
    </h3>

    {% if alerts|length == 0 %}

        <div class="alert alert-warning">
            No price alerts created yet.
        </div>

    {% else %}

    {% for alert in alerts %}

         <div class="hub-card mb-3">

            <h5 class="fw-bold">
                    {{ alert.commodity }} {{ alert.condition }} {{ alert.target_price }}
            </h5>

        <a href="/delete_alert/{{ alert.id }}" class="btn btn-danger btn-sm">
            Delete
        </a>

    </div>

 
    {% endfor %}

    {% endif %}

</div>

<div class="footer">

    <h4>
        🌍 EconoTrack
    </h4>

    <p>
        Commodity Intelligence & Economic Impact Prediction Platform
    </p>

</div>

</body>

</html>